@model List<WalletModel>
@{
    int count = 0;
}

<h1>Wallet Users (@Model.Count)</h1>

<a class="btn btn-outline-success" href="/Wallet/Create">Create</a>

<a class="btn btn-outline-success" href="/transaction/history">Transaction History</a>

<a class="btn btn-outline-success" href="/wallet/history">Wallet History</a>

<a class="btn btn-outline-primary" href="/wallet/deposit">Deposit</a>

<a class="btn btn-outline-primary" href="/wallet/withdraw">Withdraw</a>

<a class="btn btn-outline-primary" href="/wallet/check-balance">Check Balance</a>

<a class="btn btn-outline-primary" href="/wallet/transfer">Transfer</a>


<table class="table table-responsive">
    <thead>
        <tr>
            <th>Actions</th>
            <th>No.</th>
            <th>User Name</th>
            <th>Mobile No</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @* count++; *@
            <tr>
                @* <td>@count</td> *@
                <td>
                    <a href="/Wallet/Edit/@item.WalletId" class="btn btn-outline-warning">Edit</a>
                    <a href="/Wallet/Delete/@item.WalletId" class="btn btn-outline-danger">Delete</a>
                </td>
                <td>@(++count)</td>
                <td>@item.WalletUserName</td>
                <td>@item.MobileNo</td>
            </tr>
        }
    </tbody>
</table>